/*
 * Override theme icons to Material
 */
.l-footer .widget_nav_menu ul li:before,
.mfp-arrow:before,
.mfp-container:after,
.owl-next:after,
.owl-prev:after,
.page-404:before,
.pagination .page-numbers.next:after,
.pagination .page-numbers.prev:after,
.paging_simple .paginate_button.next:after,
.paging_simple .paginate_button.previous:before,
.post_navigation .order_first .post_navigation-item-arrow:before,
.post_navigation .order_second .post_navigation-item-arrow:before,
.royalSlider .rsArrow:after,
.rsFullscreenBtn:after,
.select2-selection__arrow:after,
.star-rating span:before,
.star-rating:before,
.tablepress .sorting_asc:after,
.tablepress .sorting_desc:after,
.w-dropdown-current .w-dropdown-item:after,
.w-form-checkbox:before,
.w-grid .post_image.with_quote_icon:after,
.w-grid-item.format-audio .post_image:after,
.w-grid-item.format-link .post_title a:after,
.w-grid-item.format-video .post_image:after,
.w-header-show:before,
.w-message-close:before,
.w-nav-arrow:before,
.w-nav-close:before,
.w-person-links-item.type_email i:before,
.l-popup-arrow.to_next:before,
.l-popup-arrow.to_prev:before,
.l-popup-closer:before,
.w-popup-closer:before,
.w-search button:empty:before,
.w-search-close:before,
.w-search-open:empty:before,
.w-sharing-item.email .w-sharing-icon:before,
.w-socials-item.email .w-socials-item-link:after,
.w-socials-item.rss .w-socials-item-link:after,
.w-sharing-item.copy2clipboard .w-sharing-icon:before,
.w-tabs.icon_chevron .w-tabs-section-control:before,
.w-tabs.icon_plus .w-tabs-section-control:before,
.w-tabs.icon_triangle .w-tabs-section-control:before,
.w-toplink span:after,
.widget ul li:before,
.widget_archive ul li:before,
.widget_categories ul li:before,
.widget_layered_nav_filters ul li a:before,
.widget_meta ul li:before,
.widget_pages ul li:before,
.widget_recent_comments ul li:before,
.widget_recent_entries ul li:before,
.widget_search form:after,
.widget_product_search form:after,
.woocommerce #payment .payment_methods li > label:before,
.woocommerce .stars a:before,
.woocommerce-MyAccount-navigation li:before,
.woocommerce-product-gallery__trigger:before,
.w-contacts-item:before {
	font-family: 'Material Icons' !important;
	font-feature-settings: 'liga'; /* support for IE11 & EDGE */
	}

.widget_meta ul li:before,
.widget_pages ul li:before,
.widget_archive ul li:before,
.widget_categories ul li:before,
.widget_recent_entries ul li:before,
.widget_recent_comments ul li:before,
.l-footer .widget_nav_menu ul li:before,
.l-popup-arrow.to_next:before,
.w-nav.type_desktop .w-nav-list.level_2 .w-nav-arrow:before,
.owl-next:after,
.mfp-arrow.mfp-arrow-right:before,
.royalSlider .rsArrow.rsArrowRight:after,
.post_navigation .order_second .post_navigation-item-arrow:before,
.pagination .page-numbers.next:after,
.paging_simple .paginate_button.next:after {
	content: 'keyboard_arrow_right' !important;
	}
.owl-prev:after,
.mfp-arrow.mfp-arrow-left:before,
.l-popup-arrow.to_prev:before,
.rtl .w-nav.type_desktop .w-nav-list.level_2 .w-nav-arrow:before,
.post_navigation .order_first .post_navigation-item-arrow:before,
.pagination .page-numbers.prev:after,
.royalSlider .rsArrow.rsArrowLeft:after,
.paging_simple .paginate_button.previous:before {
	content: 'keyboard_arrow_left' !important;
	}
.w-toplink span:not(.ripple-container):after {
	content: 'keyboard_arrow_up' !important;
	}
.w-dropdown-current .w-dropdown-item:after,
.w-nav-arrow:before,
.w-tabs.icon_chevron .w-tabs-section-control:before {
	content: 'keyboard_arrow_down' !important;
	}
.w-tabs.icon_triangle .w-tabs-section-control:before,
.tablepress .sorting_asc:after,
.tablepress .sorting_desc:after {
	content: 'arrow_drop_down' !important;
	font-size: 1.5rem;
	}
.w-contacts-item.for_email:before,
.w-person-links-item.type_email i:before,
.w-sharing-item.email .w-sharing-icon:before,
.w-socials-item.email .w-socials-item-link:after {
	content: 'email' !important;
	}
.w-nav-close:before,
.w-message-close:before,
.l-popup-closer:before,
.w-popup-closer:before,
.w-search-close:before,
.mfp-container:after,
.rsFullscreen .rsFullscreenBtn:after,
.widget_layered_nav_filters ul li a:before {
	content: 'close' !important;
	}
.w-search button:empty:before,
.w-search-open:empty:before,
.widget_search form:after,
.widget_product_search form:after {
	content: 'search' !important;
	}
.w-form-checkbox:before {
	content: 'check' !important;
	font-size: 1.2rem;
	}
.rsFullscreenBtn:after,
.woocommerce-product-gallery__trigger:before {
	content: 'zoom_in' !important;
	}
.w-grid-item.format-audio .post_image:after,
.w-grid-item.format-video .post_image:after {
	content: 'play_arrow' !important;
	font-size: 2rem;
	padding: 0;
	width: 3.5rem;
	}
.w-grid .post_image.with_quote_icon:after {
	content: 'format_quote' !important;
	font-size: 3rem;
	}
.w-grid-item.format-link .post_title a:after {
	content: 'open_in_new' !important;
	}
.page-404:before {
	content: 'explore' !important;
	}
.w-header-show:before {
	content: 'menu' !important;
	}
.w-contacts-item.for_address:before {
	content: 'location_on' !important;
	}
.w-contacts-item.for_phone:before {
	content: 'phone' !important;
	}
.w-contacts-item.for_fax:before {
	content: 'print' !important;
	}
.w-socials-item.rss .w-socials-item-link:after {
	content: 'rss_feed' !important;
	}
.w-sharing-item.copy2clipboard .w-sharing-icon:before {
	content: 'file_copy' !important;
	}
.w-tabs.icon_plus .w-tabs-section-control:before {
	content: 'add' !important;
	}
.w-tabs.icon_plus .w-tabs-section-control:before,
.w-tabs.icon_chevron .w-tabs-section-control:before,
.w-tabs.icon_triangle .w-tabs-section-control:before {
	font-size: 1.6em;
	}
.star-rating:before,
.star-rating span:before {
	content: '\grade\grade\grade\grade\grade' !important;
	font-size: 0.92em;
	font-weight: normal;
	}
.woocommerce .stars a:before {
	content: 'grade' !important;
	}
.woocommerce #payment .payment_methods li > label:before {
	content: 'radio_button_unchecked' !important;
	}
.woocommerce #payment .payment_methods li > input:checked + label:before {
	content: 'radio_button_checked' !important;
	}
.woocommerce-MyAccount-navigation li[class*="dashboard"]:before {
	content: 'dashboard' !important;
	}
.woocommerce-MyAccount-navigation li[class*="orders"]:before {
	content: 'shopping_cart' !important;
	}
.woocommerce-MyAccount-navigation li[class*="downloads"]:before {
	content: 'cloud_download' !important;
	}
.woocommerce-MyAccount-navigation li[class*="edit-address"]:before {
	content: 'location_on' !important;
	}
.woocommerce-MyAccount-navigation li[class*="payment-methods"]:before {
	content: 'payment' !important;
	}
.woocommerce-MyAccount-navigation li[class*="edit-account"]:before {
	content: 'account_box' !important;
	}
.woocommerce-MyAccount-navigation li[class*="customer-logout"]:before {
	content: 'exit_to_app' !important;
	}

/*
 * Change search widgets icon
 */
.widget_search form:after,
.widget_product_search form:after {
	font-size: 1.5rem !important;
	margin: 0 -0.2em;
	}

/*
 * Pagination improvements
 */
.post_navigation.layout_sided .order_first .post_navigation-item-arrow:before {
	transform: translate(1.15em,-50%);
	}
.post_navigation.layout_sided .order_second .post_navigation-item-arrow:before {
	transform: translate(-2.12em,-50%);
	}
.pagination a.page-numbers {
	box-shadow: none;
	transition: none;
	}
.no-touch .pagination a.page-numbers:before {
	display: none;
	height: 100%;
	}
.no-touch .pagination a.page-numbers:hover:before {
	display: block;
	}

/*
 * Override "Back to top" Button
 */
.w-toplink {
	border-radius: 50% !important;
	}

/*
 * Add shadow to some elements
 */
.w-iconbox.style_circle .w-iconbox-icon {
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset, 0 1px 1px rgba(0,0,0,0), 0 2px 3px rgba(0,0,0,0);
	transition: box-shadow 0.3s;
	}
.w-iconbox.style_circle .w-iconbox-link:active .w-iconbox-icon,
.no-touch .w-iconbox.style_circle .w-iconbox-link:hover .w-iconbox-icon {
	box-shadow: 0 -1px 0 rgba(0,0,0,0) inset, 0 2px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3);
	}
	.no-touch .w-iconbox.style_circle .w-iconbox-icon:before,
	.no-touch .w-iconbox.style_outlined .w-iconbox-icon:before {
		opacity: 0;
		height: 100%;
		transition: opacity 0.3s;
		}
	.no-touch .w-iconbox.style_circle .w-iconbox-link:hover .w-iconbox-icon:before,
	.no-touch .w-iconbox.style_outlined .w-iconbox-link:hover .w-iconbox-icon:before {
		opacity: 1;
		}
.w-message {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.2);
	}
.w-cart-quantity {
	box-shadow: 0 1px 2px rgba(0,0,0,0.12);
	}
